<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Componentes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding-top>

    <ion-list>
        <ion-item *ngFor="let option of optionsMenu | async"
                  [routerLink]="option.redirectTo" detail>
            <ion-icon slot="start" [name]="option.icon"></ion-icon>
            <ion-label>{{option.name}}</ion-label>
        </ion-item>

    </ion-list>

    <!-- <ion-button>
        Alert
    </ion-button>
    <ion-button>
        ActionSheet
    </ion-button> -->



</ion-content>